<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="base_url" value="http://maps.openweathermap.org/maps/2.0/weather"/>
    <add key="api_key" value="e55657fc32813b2621d3422dcd830e29"/>
    <add key="access_key_url_mod" value="?access_key="/>
  </appSettings>
</configuration>